{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}
{% import "SiteMainBundle:Frontend/News:macros.html.twig" as macros %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}
{% block og_title %}{{ page.metaTitle }}{% endblock %}
{% block og_description %}{{ page.metaDescription }}{% endblock %}

{% block content %}
    <div class="text">
        {{ wo_render_breadcrumbs() }}
        <h1>{{ page.title }}</h1>
        {{ macros.listTab(news) }}
    </div>
{% endblock %}