{% macro listTab(news) %}
    <ul class="news-list">
        {% for n in news %}
            {% set link = path('frontend_news_one', {slug : n.slug}) %}
            <li>
                <div>
                    <a href="{{ link }}">
                        <img src="{{ image(n.webPath).zoomCrop(800, 600).jpeg(100) }}" alt="{{ n.title }}" />
                    </a>
                    <div class="info">
                        <a href="{{ link }}"><h2>{{ n.title }}</h2></a>
                        <div class="date">{{ n.date|localizeddate('long', 'none', null, null, 'd MMMM Y hh:mm') }}</div>
                        <div class="description">{{ n.description }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro listSidebarNews(news) %}
    {% if news|length > 0 %}
        <div class="wrap-news">
            <div class="news">
                <ul>
                    {% for n in news %}
                        <li class="revealOnScroll" data-animation="fadeIn">
                            <div class="wrap">
                                <div class="head">
                                    <span class="first">{{ n.date|date('d') }}/</span>
                                    <span class="second">{{ n.date|date('m') }}</span>
                                </div>
                                <a class="title" href="#">{{ n.title }}</a>
                                <a class="description" href="#">{{ n.description }}</a>
                                <a class="button" href="#">Подробнее</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}