{% extends "::base.html.twig" %}

{% block og_image %}http://{{ app.request.host }}{{ image('bundles/sitemain/frontend/images/logo.jpg').cropResize(300, 300) }}{% endblock %}
{% block image_src %}http://{{ app.request.host }}{{ image('bundles/sitemain/frontend/images/logo.jpg').cropResize(300, 300) }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        html, body {
            background: #000;
        }
        body {
            opacity: 0;
        }
    </style>
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="{{ asset('bundles/sitemain/frontend/bower_components/modernizr/modernizr.js') }}"></script>
    <!-- endbuild -->
{% endblock %}

{% block body %}
    {% spaceless %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter34413290 = new Ya.Metrika({
                        id:34413290,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/34413290" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Navigation start -->
    <nav role="navigation">
        <div class="wrap">
            <a href="{{ path('frontend_homepage') }}" class="logo">lab-developers<span>.com</span></a>
            <button type="button" class="menu-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{ knp_menu_render('SiteMainBundle:FrontendMenuBuilder:mainMenu') }}
            
        </div>
    </nav>
    <!-- Navigation end -->

    {% block content %}
    {% endblock %}
    {% endspaceless %}
{% endblock %}

{% block javascripts %}
    {% stylesheets
    'bundles/sitemain/frontend/css/fonts.css'
    'bundles/sitemain/frontend/css/slick.css'
    'bundles/sitemain/frontend/css/main.css'
    filter='yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
    {% javascripts
    'bundles/sitemain/frontend/bower_components/jquery/dist/jquery.min.js'
    'bundles/sitemain/frontend/bower_components/imagesloaded/imagesloaded.pkgd.min.js'
    'bundles/sitemain/frontend/bower_components/masonry/dist/masonry.pkgd.min.js'
    'bundles/sitemain/frontend/bower_components/vide/dist/jquery.vide.js'
    'bundles/sitemain/frontend/bower_components/slick-carousel/slick/slick.min.js'
    'bundles/sitemain/frontend/javascripts/jquery.lazyload.min.js'
    'bundles/sitemain/frontend/javascripts/main.js'
    'bundles/sitemain/frontend/javascripts/click.menu.js'
    filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" id="scripts"></script>
    {% endjavascripts %}
{% endblock %}